<h1>create todos from</h1>

<div>
  <form class="form-table" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field class="my-form-field">
      <mat-label>userId</mat-label>
      <input matInput type="text" formControlName="userId">
      <mat-error>
        userId введен неправильно
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-form-field">
      <mat-label>title</mat-label>
      <input matInput type="text" formControlName="title">
      <mat-error>
        title введен неправильно
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-form-field">
      <mat-label>completed</mat-label>
      <input matInput type="text" formControlName="completed">
      <mat-error>
        completed введен неправильно
      </mat-error>
    </mat-form-field>

    <button mat-button class="form-button" type="submit" [disabled]="form.invalid">Create todos</button>
  </form>
</div>
