.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  width: 150px;
}
