<h1>create user form</h1>

<div class="user-form">
  <form class="form-up" [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-form-field class="my-form-field">
        <mat-label>Имя</mat-label>
        <input matInput type="text" formControlName="name">
          <mat-error>
            Имя введно неправильно
          </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field">
        <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
            <mat-error>
              Email введен неправильно
            </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field">
        <mat-label>Website</mat-label>
          <input matInput type="text" formControlName="website">
            <mat-error>
              Website введен неправильно
            </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field" formGroupName="company">
        <mat-label>Company</mat-label>
          <input matInput type="text" formControlName="name">
            <mat-error>
              Имя компании введено неправильно
            </mat-error>
      </mat-form-field>

    <button mat-button class="form-button" [disabled]="!form.valid">Create User</button>
  </form>
</div>
