h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

button {
  padding: 10px 30px;
  background-color: gray;
  color: white;
  border-radius: 100px;
  margin-bottom: 30px;
}

.todo-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px
}
