<h1>{{ data.user.name }}</h1>

  <form [formGroup]="form">
      <mat-form-field class="my-form-field">
        <mat-label>Имя</mat-label>
        <input matInput type="text" formControlName="name">
          <mat-error *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
            Имя введно неправильно
          </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field">
        <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
            <mat-error *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
              Email введен неправильно
            </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field">
        <mat-label>Website</mat-label>
          <input matInput type="text" formControlName="website">
            <mat-error *ngIf="form.get('website')?.invalid && (form.get('website')?.dirty || form.get('website')?.touched)">
              Website введен неправильно
            </mat-error>
      </mat-form-field>

      <mat-form-field class="my-form-field" formGroupName="company">
        <mat-label>Company</mat-label>
          <input matInput type="text" formControlName="name">
            <mat-error *ngIf="form.get('company.name')?.invalid && (form.get('company.name')?.dirty || form.get('company.name')?.touched)">
              Имя компании введено неправильно
            </mat-error>
      </mat-form-field>

    <button mat-button matTooltip="Редактировать данные пользователя" class="form-button"
      [disabled]="!form.valid"
      [mat-dialog-close]="userWithUpdatedFields">
        Редактировать
    </button>
  </form>
